$black: #000;
$blue-sidebar-color: #004c99;
$border-navbar: #f5f2f2;
$btn-color-blue: #003381 !default;
$course-listing-shadow: rgba(46,61,73,.2);
$fa-gray-color: #ccc;
$gray: #f5f6f7;
$gray-sidebar-color: rgba(221, 221, 221, .65);
$headline-color: #575757;
$liste-sidebar-color: #cecfd0;
$sewema-color: #003381;
$white: #fff;
$white-navbar: rgba(255, 255, 255, 0.55);
